<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Molude.</p>
</div>

<div class="grid">

  <div class="col-4">
    <p-card
      header="uppercase"
      [subheader]="lowerName | uppercase">
      {{ lowerName | uppercase }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card
      header="lowercase"
      [subheader]="upperName | lowercase">
      {{ upperName | lowercase }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card
      header="titlecase"
      [subheader]="fullName | titlecase">
      {{ fullName | titlecase }}
    </p-card>
  </div>

</div>
