<div class="text-layout">
  <h1>DecimalPipe and Percent</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Molude.</p>
</div>


<div class="grid">

  <div class="col-4">
    <p-card
      header="Net Sales"
      subheader="Year present">
      <ul>
        <li>
          <i class="pi pi-dollar"></i>
          {{ netSales | number}}
        </li>
        <li>
          <i class="pi pi-dollar"></i>
          {{ netSales | number:'1.2-2'}}
        </li>
        <li>
          <i class="pi pi-dollar"></i>
          {{ netSales | number:'.2-2'}}
        </li>
        <li>
          <i class="pi pi-dollar"></i>
          {{ (netSales + 100000) | number:'.2-2'}}
        </li>
      </ul>
    </p-card>
  </div>


  <div class="col-4">
    <p-card
      header="Gross Sales"
      subheader="Year present">
      <ul>
        <li>
          {{ (netSales+2000000) | currency }}
        </li>
        <li>
          {{ (netSales+2000000) | currency:'MXN':'' }}
        </li>
        <li>
          {{ (netSales+2000000) | currency:'USD':'symbol-narrow':'1.4-4' }}
        </li>
      </ul>
    </p-card>
  </div>


  <div class="col-4">
    <p-card
      header="Profits %"
      subheader="Year present">
      <ul>
        <li>
          {{ (percent) | percent }}
        </li>
        <li>
          {{ (percent) | percent:'2.2-2' }}
        </li>
      </ul>
    </p-card>
  </div>

</div>
