<div class="text-layout">
  <h1>No Commons Pipes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Molude.</p>
</div>


<div class="grid">
  <div class="col md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      Saludos {{ name }}, es un placer
      {{ gender | i18nSelect:mapInvitation }}
      a nuestro evento.
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      Actualmente {{customers.length | i18nPlural:mapCustomers}}
    </p-fieldset>
  </div>
</div>
